@page

<div class="container-fluid">
    <div class="row">
        <select class="col-6" id="character-select">
            <option value="Plane">Plane</option>
            <option value="Car">Car</option>
            <option value="Tank">Tank</option>
            <option value="Person">Person</option>
        </select>
         <button type="button" class="btn btn-success btn-md btn-block col-6" id="selectButton">
                Ready
            </button>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/characterSelection.js"></script>