@page

<style>
.not-copyable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
</style>

<div class="container-fluid">
    <h1 id="round-place"></h1>
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-left" id="1-player">
                Player1
            </h3>
        </div>
        <div class="col-md-8">
            <div class="progress">
  <div class="progress-bar" id="1-player-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-left" id="2-player">
                Player2
            </h3>
        </div>
        <div class="col-md-8">
            <div class="progress">
  <div class="progress-bar" id="2-player-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
           <h3 class="text-left" id="3-player">
                Player3
            </h3>
        </div>
        <div class="col-md-8">
           <div class="progress">
  <div class="progress-bar" id="3-player-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-left" id="4-player">
                Player4
            </h3>
        </div>
        <div class="col-md-8">

            <div class="progress">

  <div class="progress-bar" id="4-player-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
  </div>
</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" id="useSpecialAbility" class="btn btn-warning btn-lg col-md-12" style="margin: 15px;" >
                    Use special ability
            </button>
            <h3 class="text-center" id="countdown-place">
                
            </h3>
             <h3 class="text-center" id="win-lose-place">
               
            </h3>
            <h3 class="text-center not-copyable" id="word-place">
                Word Place
            </h3>
                <div  class="col-md-12">
                    <input id="word-input" style="width: 100%;" />
                </div>

                <button type="submit" id="sendButton" class="btn btn-primary btn-lg col-md-12" style="margin-top: 15px;" >
                    Submit
                </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button type="submit" style="width: 100%;" id="goldTalismanButton" class="btn btn-warning">GOLD</button>
        </div>
         <div class="col-md-4">
            <button type="submit" style="width: 100%;" id="silverTalismanButton" class="btn btn-secondary">SILVER</button>
        </div>
         <div class="col-md-4">
            <button type="submit" style="width: 100%;" id="bronzeTalismanButton" class="btn btn-danger">BRONZE</button>
        </div>
        <div class="col-md-4">
            <button type="submit" style="width: 100%;" id="cloneButton" class="btn btn-info">CLONE</button>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-4">
            <button type="submit" style="width: 100%;" id="penaltyButton" class="btn btn-dark">Penalty</button>
        </div>
        <div class="col-md-4">
            <button type="submit" style="width: 100%;" id="enableSpecialAbilityButton" class="btn btn-dark">Enable Special Ability</button>
        </div>
        <div class="col-md-4">
            <button type="submit" style="width: 100%;" id="prizeButton" class="btn btn-dark">Give random prize</button>
        </div>

        
    </div>



</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/game.js"></script>
